<h1>Agregar producto</h1>
<hr>


<form action="" [formGroup]="myForm">

    <div class="row g-3 align-items-center mb-3">

        <div class="col-auto">
            <label for="">Nombre:</label>
        </div>

        <div class="col-auto">
            <input type="text" class="form-control" name="" id="" formControlName="name">
        </div>
       
        <div class="col-auto">
            <span cutomLabel [color]="color" [errors]="myForm.get('name')?.errors"> temp</span>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" (click)="changeColor()">Cambiar color</button>
        </div>
    </div>

</form>

<pre>{{ myForm.get("name")?.errors | json }}</pre>

<p>color: {{ color }}</p>
